In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
import os
from sys import platform

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `train.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [11]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [12]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
11367,11367,0.78,Ideal,H,VS2,61.6,56.0,5.94,5.91,3.64,7.996

In [13]:
print(df_test.shape[0])
df_test.sample()

13485

        id  carat        cut color clarity  depth  table     x     y     z
1636  1636   0.43  Very Good     G     VS1   59.3   58.0  4.97  5.02  2.96

#Â Cleaning, processing, feature selection, etc

In [14]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   0.30   62.4   58.0  4.31  4.28  2.68  6.353
1          1   1.01   62.7   56.0  6.42  6.46  4.04  9.183
2          2   0.72   61.8   59.0  5.71  5.74  3.54  7.983
3          3   1.08   63.2   57.0  6.54  6.50  4.12  8.371
4          4   0.36   62.3   59.0  4.50  4.55  2.82  6.588
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   0.42   62.1   59.0  4.78  4.82  2.98  6.551
40451  40451   0.53   62.0   58.0  5.21  5.18  3.22  7.382
40452  40452   0.80   62.8   58.0  5.86  5.90  3.69  7.768
40453  40453   1.01   61.5   57.0  6.40  6.48  3.96  8.726
40454  40454   1.30   60.1   58.0  7.10  7.14  4.28  8.771

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [15]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [16]:
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don treinin")

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [18]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x     y     z
3100  3100   0.39   61.6   61.0  4.71  4.74  2.91

#Â Predict on the `test.csv`

In [19]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don predictin")

#Â DF with two columns

In [22]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x     y     z
8881  8881   0.35   62.6   58.0  4.49  4.52  2.82

In [23]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [24]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

          id     price
11638  11638  7.792927

#Â Export (index=False)

In [25]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica redi for submission")